body {
    font-family: Calibri, sans-serif;
    color: #444444;
}

.bg-grey {
    background-color: #d7d8d9 !important;
}

.logo {
    max-width: 150px;
}

.logo-large {
    max-width: 200px;
}

.pt-6 {
    padding-top: 10rem!important;
}

.demo {
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#protectedContent {
    display: none;
}

.top-bar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('assets/img/browser_background.svg');
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
}

.browser-button {
    width: 6%;
}

.web-view {
    padding: 20px;
}

.product-detail img {
    object-fit: contain;
    max-height: 300px;
}

.btn-delvify {
    background-color: #f3911d;
    border-color: #f3911d;
    color: white;
}
.btn-delvify:hover {
    background-color: #f3ad1b;
    border-color: #f3ad1b;
    color: white;
}

.real-recommendation .cta-button {
    background-color: #f3911d;
}

.real-recommendation .cta-button:hover {
    opacity: 0.7;
}

.real-recommendation .slick2 {
    position: relative;
}

.real-recommendation .arrow-slick2 {outline: none !important;border: none;background: transparent;}.real-recommendation .arrow-slick2:hover {cursor: pointer;}.real-recommendation .of-hidden {overflow: hidden;}.real-recommendation .pos-relative {position: relative;}.real-recommendation a {  font-weight: 400;font-size: 15px;line-height: 1.7;color: #666666;margin: 0px;transition: all 0.4s;-webkit-transition: all 0.4s;  -o-transition: all 0.4s;  -moz-transition: all 0.4s;}.real-recommendation a:focus {outline: none !important;}.real-recommendation a:hover {text-decoration: none;color: #e65540;}.real-recommendation .animated {  animation-duration: 1s;  animation-fill-mode: both;}.real-recommendation .slick-slider{    position: relative;    display: inline-grid;    box-sizing: border-box;    -webkit-user-select: none;       -moz-user-select: none;        -ms-user-select: none;            user-select: none;    -webkit-touch-callout: none;    -khtml-user-select: none;    -ms-touch-action: pan-y;        touch-action: pan-y;    -webkit-tap-highlight-color: transparent;    outline: none !important;}.real-recommendation .slick-list{    position: relative;    display: block;    overflow: hidden;    margin: 0;    padding: 0; height: 100% }.real-recommendation .slick-list:focus{    outline: none;}.real-recommendation .slick-list.dragging{    cursor: pointer;    cursor: hand;}.real-recommendation .slick-slider .slick-track,.real-recommendation .slick-slider .slick-list{    -webkit-transform: translate3d(0, 0, 0);       -moz-transform: translate3d(0, 0, 0);        -ms-transform: translate3d(0, 0, 0);         -o-transform: translate3d(0, 0, 0);            transform: translate3d(0, 0, 0);}.real-recommendation .slick-track{    position: relative;    top: 0;    left: 0;    display: block;    margin-left: auto;    margin-right: auto; height: 100% }.real-recommendation .slick-track:before,.real-recommendation .slick-track:after{    display: table;    content: '';}.real-recommendation .slick-track:after{    clear: both;}.real-recommendation .slick-loading .slick-track{    visibility: hidden;}.real-recommendation .slick-slide{    display: none;    float: left;    height: 100%;    min-height: 1px;}.real-recommendation [dir='rtl'] .slick-slide{    float: right;}.real-recommendation .slick-slide img{    display: block;}.real-recommendation .slick-slide.slick-loading img{    display: none;}.real-recommendation .slick-slide.dragging img{    pointer-events: none;}.real-recommendation .slick-initialized .slick-slide{    display: block;}.real-recommendation .slick-loading .slick-slide{    visibility: hidden;}.real-recommendation .slick-vertical .slick-slide{    display: block;    height: auto;    border: 1px solid transparent;}.real-recommendation .slick-arrow.slick-hidden {    display: none;}.real-recommendation .wrap-slick2 {  position: relative;  margin-right: -15px;  margin-left: -15px;}/* ------------------------------------ */.real-recommendation .arrow-slick2 {  position: absolute;  z-index: 100;  top: calc((100% - 60px) / 2 + 30px);  -webkit-transform: translateY(-50%);  -moz-transform: translateY(-50%);  -ms-transform: translateY(-50%);  -o-transform: translateY(-50%);  transform: translateY(-50%);  font-size: 39px;  color: #cccccc;  -webkit-transition: all 0.4s;  -o-transition: all 0.4s;  -moz-transition: all 0.4s;  transition: all 0.4s;}.real-recommendation .arrow-slick2:hover {  color: #666666;}.real-recommendation .next-slick2 {  right: 0px;}.real-recommendation .prev-slick2 {  left: 0px;}@media (max-width: 1280px) {  .real-recommendation .next-slick2 {    right: 0px;  }  .real-recommendation .prev-slick2 {    left: 0px;  }}@media (max-width: 1610px) {  .real-recommendation .rs1-slick2 .next-slick2 {    right: 0px;  }  .real-recommendation .rs1-slick2 .prev-slick2 {    left: 0px;  }}.real-recommendation .recommended-details {    background-color: #fbfbfb;    top: 0;    position: absolute;    justify-content: center;    z-index: 101;    flex-wrap: wrap;}  .real-recommendation .recommended-details-close {    position: absolute;    top: 0;    right: 0;    margin: 15px;    cursor: pointer;}  .real-recommendation .btn-more-ctn {    border-radius: 50px;    background-color: white;    position: absolute;    bottom: 0;    right: 0;    width: 34px;    height: 34px;    margin: 10px;}  .real-recommendation .recommended-details-image {    width: 35%;    flex: 1 1 35%;    min-width: 200px; height: 100% }  .real-recommendation .recommended-details-image img {    object-fit: contain;}  .real-recommendation .recommended-details-content {    flex: 1 1 65%; overflow-y: scroll; height: 100% }  .real-recommendation .trans-0-4 {-webkit-transition: all 0.4s;    -o-transition: all 0.4s;    -moz-transition: all 0.4s;    transition: all 0.4s;}  .real-recommendation .trans-0-5 {-webkit-transition: all 0.5s;    -o-transition: all 0.5s;    -moz-transition: all 0.5s;    transition: all 0.5s;}  .real-recommendation .p-t-45 {padding-top: 45px;}  .real-recommendation .p-b-50 {padding-bottom: 50px;}  .real-recommendation .container {   max-width: 1200px;}  .real-recommendation .p-b-60 {padding-bottom: 60px;}  .real-recommendation .m-text5 {font-size: 30px;color: #222222;line-height: 1.2;text-transform: uppercase;}  .real-recommendation .t-center {text-align: center;}  .real-recommendation .w-size-0 {    width: 0;}  .real-recommendation .op-0-0 {opacity: 0;}  .real-recommendation .wrap-pic-w img {width: 100%;}  .real-recommendation .p-t-30 {padding-top: 30px;}  .real-recommendation .p-b-30 {padding-bottom: 30px;}  .real-recommendation .p-l-15 {padding-left: 15px;}  .real-recommendation .p-r-15 {padding-right: 15px;}  .real-recommendation .p-r-50 {padding-right: 50px;}  .real-recommendation .m-text16 {font-size: 24px;color: #222222;line-height: 1.5;}  .real-recommendation .p-b-13 {padding-bottom: 13px;}  .real-recommendation .s-text8, .s-text8 a {font-size: 13px;color: #888888;line-height: 1.8;}  .real-recommendation .p-t-10 {padding-top: 10px;}  .real-recommendation .size9 {width: 162px;height: 45px;}  .real-recommendation .m-t-10 {margin-top: 10px;}  .real-recommendation .m-b-10 {margin-bottom: 10px;}  .real-recommendation .flex-c-m {display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;justify-content: center;-ms-align-items: center;align-items: center;}  .real-recommendation .sizefull {width: 100%;height: 100%;}  .real-recommendation .bg1 {background-color: #444444;}  .real-recommendation .bo-rad-23 {border-radius: 23px;}  .real-recommendation .hov1:hover {    background-color: #e65540;  color: white;}  .real-recommendation .s-text1 {font-size: 15px;color: white;text-transform: uppercase;}  .real-recommendation .shadow1 {box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);-o-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);-ms-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);}  .real-recommendation .fs-24 {font-size: 24px;}  .real-recommendation .fs-16 {font-size: 16px;}  .real-recommendation .fs-32 {font-size: 32px;}  .real-recommendation .flex-row {display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-flex-direction: row;-moz-flex-direction: row;-ms-flex-direction: row;-o-flex-direction: row;flex-direction: row;}  .real-recommendation .dis-none {display: none;}  .real-recommendation .w-size-full {    width: 100%;}  .real-recommendation .bgwhite {  }  .real-recommendation a { cursor: pointer }
.recommended-details-content::-webkit-scrollbar-track
{
    border-radius: 2px;
    background-color: transparent;
}

.real-recommendation .slick-slide>div {
    height: 100%;
}

.recommended-details-content::-webkit-scrollbar
{
    width: 4px;
    background-color: transparent;
}

.recommended-details-content::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.config .real-recommendation #widgetHeaderContainer, .product-name, .product-price {
    display: none;
}

.config .real-recommendation .overlay-button {
    display: none;
}

.config .real-recommendation .cta-button {
    display: none;
}

.demo-page .real-recommendation .cta-button {
    display: none;
}

pre {
    background-color: antiquewhite;
    padding: 10px 20px;
    color: #777777;
}

.link{
    color: #f3911d;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.preview {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

hr.dashed {
    border: 0;
    border-bottom: 1px dashed #ccc;
}

.colorTile {
    width: 31px;
    height: 31px;
    border-radius: 5px;
    border: #ced4da solid 1px;
    cursor: pointer;
    background-color: #444444;
}

.colorTile.cta {
    background-color: #f3911d;
}

.tooltip-button {
    cursor: pointer;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right: 0;
}

.input-group>.input-group-append>.btn.search-clear {
    border: 1px solid #ced4da;
    border-left: 0;
    color: #ced4da;
}
